.navbar{
    width: 100%;
    transform: translateY(0);
    transition: transform 0.3s ease;
    padding-top: 0.7rem;
}

.container{
    height: 56px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.first{
    display: flex;
    align-items: center;
}

#youtubeLogo{
    height: 25px;
    padding: 0 10px;
}

.middle{
    display: flex;
    align-items: flex-start;
}

.end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 225px;
}